body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f4f6fb;
}

.cards-container {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  padding: 40px;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 16px 25px;
  }
  .navbar ul {
    gap: 15px;
  }
}
